/* body */
body {
    background-color: rgb(177, 161, 177);
    font-family: 'roboto';
  /*  */
  }

  /*titre bonjour les decorateur*/
h2 {
  color: rgb(5, 80, 99);
  font-size: 400%;
 
  
}
 /* para 1*/
#p1 {
  color: rgb(141, 38, 93);
  font-size: 300%;
}
    /* titre page2 */
h3 {
  color: rgb(13, 68, 82);
  font-size: 500%;
}
     /*form recherche*/
#h22 {font-size:100%}
  
#input1[type=text] {
  width: 50%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 20px;
  background-color: white;
  background-image: url('https://img.icons8.com/search');
  background-position: 0.000003px 0.000003px; 
  background-repeat: no-repeat;
  padding: 1px 10px 10px 10px;
}    
/*       */
div {
    text-align:left;
     font-size:400%; 
     color:rgb(13, 68, 82);"
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(131, 23, 23);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
  
/*image*/

img 
{
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 700px;}
  /*button connecter*/
button
 {
    background-color: #90fa94; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
/*para page 2*/

 #p3
  {
    color:rgb(141, 38, 93);
   font-size:300%;}

   /*input form page2*/
   #input2 textarea {
    width: 100%;
    
      box-sizing: border-box;
    } 
    
  /*input page 2 submit*/

  #input3[type=button], input[type=submit], input[type=reset] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  } 

  label {
    padding: 15px 15px 15px 0;
    display: inline-block;
    color:rgb(141, 38, 93)
    font-size:200%
  }
  
  